/*
Commentaires en CSS

Le CSS du navigateur sera surchargé (on remplace les style imposé par le navigateur) ou complémenté (des styles non imposés ou non existant dans le navigateur) par le CSS écrit ici sur les document HTML qui se lieront avec.

pour ajouter du stye à un élément, il faut trouver son "sélecteur", un sélecteur est une chaîne de caractère qui permet de définir un ou plusieurs élément

    Exemple 1 : sélécteurs utilisant les balises 
        p => tous les paragraphes, où qu'ils soient, du document
        
        article p => tous les paragraphes à condition qu'ils aient un ancètre <article>
            <article>
                <header>
                    <h2>titre</h2>
                    <p>ce paragraphe applique</p>
                </header>
                <h3>titre de partie</h3>
                <p>
                    ce paragraphe applique
                </p>
            </article>
        
        article > p => tous les paragraphes à condition qu'ils soient enfant directs d'un élément <article>
            <article>
                <header>
                    <h2>titre</h2>
                    <p>ce paragraphe n'applique pas (petit enfant d'article)</p>
                </header>
                <h3>titre de partie</h3>
                <p>
                    ce paragraphe applique, enfant d'article
                </p>
            </article>
    
    Exemple 2 : sélecteurs utilsants des identifiants
        ces sélecteurs permettent de viser un élément contenant un attribut id. Quand un attribut id est ajouté à un élément, il doit être unique sur toute la page.

        #balises-html-de-contenu-texte => l'élément ayant comme attribut id="balises-html-de-contenu-texte"
            <h2 id="balises-html-de-contenu-texte">Balises HTML de contenu texte</h2>
        #entête-de-page h1 => le titre h1 ayant au moins un ancètre avec l'id entête-de-page
            <header id="entête-de-page">
                <h1>Introduction au HTML - CSS3</h1>
            </header>
        #contenu-principal ul => toutes les listes ayant au moins un ancètre avec l'id #contenu-principal
    Exemple 4 : sélecteur utilisant les classes CSS
        le ou les éléments ayant la ou les classes CSS exprimées dans l'attribut class

        .exemple-selecteur-classes => les ou les éléments ayant class="exemple-selecteur-classes" 
            <p class="exemple-selecteur-classes">
                Mon petit garçon est malade.
            </p>

        .exemple-selecteur-classes .actif => un élement avec la classe actif ayant pour ancètre un élément avec la classe exemple-selecteur-classes
            <p class="exemple-selecteur-classes">
                <b>Mon petit <span class="actif">garçon</span> est malade.<b>
            </p>
        .exemple-selecteur-classes > .actif => un élement avec la classe actif ayant pour parent direct un élément avec la classe exemple-selecteur-classes
            <p class="exemple-selecteur-classes">
                Mon petit <span class="actif">garçon</span> est malade.
            </p>
            => span appliquera les styles

            <p class="exemple-selecteur-classes">
                <b>Mon petit <span class="actif">garçon</span> est malade.<b>
            </p>
            => span n'appliquera pas les style car son parent direct est <b> et non un élément avec la classe exemple-selecteur-classes

        .exemple-selecteur-classes.actif => un élement avec la classe actif ET avec avec la classe exemple-selecteur-classes
            <p class="actif exemple-selecteur-classes">
                garçon est malade.<b>
            </p>
            => applique
            <p class="exemple-selecteur-classes actif">
                garçon est malade.<b>
            </p>
            => applique

            <p class="actif">
                garçon est malade.<b>
            </p>
            => n'applique pas

            <p class="exemple-selecteur-classes">
                garçon est malade.<b>
            </p>
            => n'applique pas
    
    exemple de "copier le sélector" dans les outils de développement de chrome
        #contenu-principal > section:nth-child(2) > article:nth-child(1) > ol:nth-child(20) > li:nth-child(2) > ol > li:nth-child(2) > ul > li
        ol > li > ol > li > ul > li

Le CSS est un style en cascade, c'est à dire que les proriétés de stylé déclarées dans une éléments seront généralement héritées par les élément enfants, sauf ci l'élément a un définition du style hérité
    exemple : 
        on impose arial en police à la balise body, tous les éléments sans police spécifiée dans le css du navigateur l'appliqueront, des balises telles que <code> elles garderont la police définit à la racine (c'est à dire la feuile de style user agent, celle du navigateur)

Il est possible toutefois de surcharger (transformer) la racine, on utilisera le sélecteur :root

Unités de tailles en CSS (en web)

Unités les plus souvent utilisées en web

px      =>  pixel il est possible de mesure avec des virgules, 23.8px)
em      =>  cadratin. Historiquement unité de mesure en print sur les presses.
            Le cadratin se calcul par rapport à la taille du parent
rem     =>  cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
            - soit celle du navigateur 
            - soit celle surchargée dans le :root
%       =>  La taille définie en % se calcule par rapport à l'espace disponible autour de l'élément définie en %
vw & vh =>  vw : viewport width (largeur de la surface d'affichage du site)
            vh : viewport height ( hauteur d'affichage du site)
            50vh => 50% de la taille d'affichage du site
            si la largeur d'affichage du site 360px (100vw)
            50vw = 180px

*/

/* Déclaration générales */
/* Emplacement du root : déclarations de surcharge de la feuille de style user agent */

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem; /* sur chrome 16px * (20%16px) => 19.2px */
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

/* Sélecteur "universel" */
/* "*" est un sélecteur "universel", il représente TOUS les éléments de la page qui est liée au fueillet CSS */
*{
    box-sizing: border-box;
}

img{
    
}

/* déclaration des classes */



/* déclarations de structure */

body{
    margin: 0;
}

body > header,
body > footer{

}

main{

}

main section{

}

main article{

}

/* Déclaration css adaptatif : media queries */

